h1 {
  text-align: center;
}

.section {
  margin-top: 2rem;
}

.refreshButton {
  display: block;
  margin: 0 auto;
}

.spinnerWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
